set_io  sel 13
set_io  high 18
set_io  i7 2
set_io  i6 3
set_io  i5 4
set_io  i4 6
set_io  i3 9
set_io  i2 10
set_io  i1 11
set_io  i0 12
set_io  o7 37
set_io  o6 36
set_io  o5 35
set_io  o4 34
set_io  o3 32
set_io  o2 31
set_io  o1 28
set_io  o0 27
set_io  k7 38
set_io  k6 42
set_io  k5 43
set_io  k4 44
set_io  k3 45
set_io  k2 46
set_io  k1 47
set_io  k0 48